@font-face {
  font-family: "Actay";
  src: url("./fonts/Actay-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Actay";
  src: url("./fonts/ActayCondensed-Thin.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Actay";
  src: url("./fonts/ActayWide-Bold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Actay";
  src: url("./fonts/Actay-RegularItalic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Actay";
  src: url("./fonts/ActayCondensed-ThinItalic.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Actay";
  src: url("./fonts/ActayWide-BoldItalic.otf");
  font-weight: 600;
  font-style: italic;
}

* {
  font-family: Actay !important;
}
